.Rproj.user*
.Rhistory
.RData
.Ruserdata
.DS_Store
02-super popn approach/experiment1_baseWtdloo/03-data
02-super popn approach/experiment2_binomialModel/03-data
02-super popn approach/experiment3_ARprior/03-data
/*/*/.Rhistory
02-super popn approach/experiment3_ARprior/01-code/extra stuff
tests/
.Rproj.user
