.Rproj.user*
.Rhistory
.RData
.Ruserdata
.DS_Store
.gitignore
code/simDesign1/data/temp
code/simDesign1/code/temp
code/simDesign1/results/temp
code/simDesign2/data/temp
code/simDesign2/code/temp
code/simDesign2/results/temp
/*/.Rhistory
code/experiment3_ARprior/01-code/extra stuff
code/experiment3_ARprior/02-results/brms code
arxiv/
tests/
figures/main_paper.html
figures/temp
.Rproj.user
nhanes/NHANES 2017-20
code/nhanes/data/
